@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.2/tailwind.min.css";

.sidebar {
  width: 300px;
}

.sidebar img {
  width: 150px;
}
.main{
  margin-left: 300px;
}

.grid-uml-diagram{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
}

.active-sidebar-item > div{
  background: #276749 !important;
}

.uml-category{
  max-width: 400px;
}

@media screen and (max-width: 635px){
  .grid-uml-diagram{
    grid-gap: 0px;
    grid-template-columns: 1fr;
  }
  .uml-category{
    max-width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .main{
    margin-left: 0;
  }
}
